nav{
    background: #8a8b88;
    margin: 15px 0;

    .ulNav{
        display: flex;
        color: white;
        list-style: none;

        .link{
            color: white;
            &:hover{
                text-decoration: none;
            }
        }
        
        .active{
            background: #1aaecc !important;
        }

        li{
            padding: 15px;
            cursor: pointer;
        }

        li:hover{
            background: #1aaecc;
        }

    }
}