

/* classic zaun */
.basic_zaun{
    fill: #3a3838;
}

.basic_pfosten{
    
    fill: #3a3838;
}

.latten{
    fill: #3a3838; 
}

.gerade{
    fill:#3a3838;
}

.pfosten{
    display: none;
    fill:#3a3838;
}

.kugel{
    display: none;
    fill:#3a3838;
}

.spitz{
    display: none;
    fill:#3a3838;
}

.imgProduct{
   margin-top: 15px;
  }

  .convex{
      display: none;
      fill: #3a3838;
  }


/* briefkasten */
  .briefkasten_rechts, .briefkasten_links, .briefkasten_mitte_rechts, .briefkasten_mitte_links {
    display: none;
  }
  
  .briefrahmen{
    stroke: #3a3838;
  }
  
  .briefbefestigung{
    fill: #3a3838;
  }

  /* kreise_oben */
  .kreise_oben{
      display: none;
  }


  .kreise_oben_inner{
    stroke: #3a3838; 
  }

  .stab_unten{
    fill: #3a3838;
  }

  .stab_oben{
    fill: #3a3838;
  }

  /* rauten_oben */

  .rauten_oben{
      display: none;
  }

  .stab_unten_raute, .stab_oben_raute{
    fill: #3a3838;
  }

  .rauten{
    stroke: #3a3838;   
  }




