

/* classic zaun */

/* cl 1001 */
#pfosten{
    display: none;
    fill:#3a3838;   
}

#kugel{
    display: none;
    fill:#3a3838;  
}

#spitze{
    display: none;
    fill:#3a3838; 
}

#rect_stroke{
    stroke: #3a3838;
}


#gerade{
    fill: #3a3838;
}

#convex{
    fill: #3a3838;  
    display: none;
}

#latten{
    fill: #3a3838;
}


.rect_fill{
    fill: #3a3838;
}


/* cl 1111 */
#cl_1111{
    display: none;
}

#cl_1111_stab, #cl_1111_latte {
    fill: #3a3838;
}

#cl_1111_raute{
    stroke: #3a3838;
}





